

@media screen and (max-width :768px){
	
	.progres,
	#progress .struct
	{
		grid-template-columns:repeat(1, 1fr);
	}
	.pgsrbox .seat {
		padding:10px;
	}
	
	.map,
	.struct .map-struct{
		grid-column:1;
		grid-row:2;
	}

	.mdlbody .swop{
		/* display:block; */
	}
}
